@model IEnumerable<LibraryManagementSystem.Models.OrderTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSNNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSNNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Order_Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Order_Id" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Order_Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 <a asp-controller="aspnetuser" asp-action="UserHomePage" class="btn btn-primary">Back</a>
