@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License_Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License_Quantity)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ISBN">Edit</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.ISBN">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ISBN">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 <a asp-controller="AspNetUsers" asp-action="AdminHomePage" class="btn btn-danger">Back</a>

