@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Books</h1>

@*<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>*@
<script>
    localStorage.setItem('cart', []);
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License_Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License_Quantity)
            </td>
            <td>             
                @*<a asp-action="AddToCart" asp-route-id="@item.ISBN">Add To Cart</a>*@
                <button onclick="localStorage.setItem('cart', [ localStorage.getItem('cart'), @item.ISBN]);" class="btn btn-secondary" > add to cart </button>
            </td>
        </tr>
}
    </tbody>
</table>
<form  asp-action="Orders" method="post" >
    <input name="ISBNs" value="" hidden/>
    <button type="submit" onclick="    document.getElementsByName('ISBNs')[0].value = localStorage.getItem('cart'); console.log(document.getElementsByName('ISBNs')[0].value); " class="btn btn-primary" > buy </button>
</form>
